body{
  background-color:#f0f0f0;
}
/* Таблица календарика */
.calendar {  
  border-collapse: collapse;
  font-family: Arial;
  font-size: 14px;
  height: 550px;
  width: 100%;
  background-color:#ffffff;
}
/* Заголовок */
.calendar th {
  text-align: center;
  width: 36px;
  height: 36px;  
  color:#5bc7a9;  
}

/* Ячейка дня */
.calendar td {  
  width: 28px;
  height: 36px;  
  border: 1px solid #d0d0d0;  
  cursor: pointer;
  vertical-align: top;  
}
/* Затемненный день */
.calendar td.grayed {
  background: #F5F5F5;
  cursor: auto !important;
}
/* Выбранный день */
.calendar td.selected {
  border: 2px solid #1fb38a;
  z-index: 100;  
}

/* Кнопки навигации */
.calendar td.navigation {
  text-align: center;
  border: 0px none !important;
  font-size: 32px;
  cursor: pointer;
  white-space: nowrap;
}
/*Кнопка добавить задание*/
.up{
    background-color:#1eb289;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;    
    font-size: 13px;
    border-radius: 8px;
    border: none;
    float: right;
}
.up:active{
  background:#45d4ac;
}
.hidden{
  display: none;
}
/*Всплывающая форма*/
form{  
  background-color: #fff;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  position: absolute; 
  margin-top: -150px; 
  margin-left: -300px; 
}
/*Название задания*/
#task{
  width: 350px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  resize:none; 
}
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}  

#name{
  width: 400px;
  height: 300px;
  position: absolute;
  float: left;  
}

/*Кнопка сохранения задания*/
#add{
  margin-top: 170px;
  margin-left: 20px;
  height: 35px;
  font-size:12px;
}
#add:active{
  background-color:#1eb188;
  color: #fff;
  border: none;
  width: 125px;
}
/*Кнопка удаления*/
#cancel{
  height: 35px;
  font-size:12px;  
}
#cancel:active{
  background-color:#1eb188;
  color: #fff;
  border: none;
  width: 74px;
}

/*Тип задания*/

#type{
  width: 200px;
  height: 300px;
  margin-left: 400px;
  position: absolute;
  background-color: #303a4b;
}

#type p{
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
}

#btn_type{
  margin-left: 20px;
  width: 150px;
  height: 30px;
}

#start_event{
  margin-left: 20px;
  width: 150px;
  height: 30px;
}